<h1> <%=@store.store_name()%> </h1>

<% if @brands.any?() %>
  <h3>Here are your brands:</h3>

  <ul>
    <% @brands.each() do |brand| %>
    <% if brand.store_id == @store.id %>
      <li><%= brand.shoe_name() %></a> </li>
      <% end %>
    <% end %>
  </ul>

<% else %>

    <p>There are no brands yet!</p>

<% end %>

<form action="/brands" method="post">
  <input id="store_id"type="hidden" name="store_id" value="<%= @store.id() %>">
  <label for="shoe_name">Enter the shoe brand</label>
  <input id="shoe_name"type="text" name="shoe_name" value="">
  <button type="submit">Add Shoes</button>
<br>
<h5><a href="/" >Return to main page to try again</a></h5>
</form>
