<h1>Welcome to the Shoe Store!</h1>

<p><a href="/stores">Add a new store</a></p>
<p><a href="/brands">Add a new brand</a></p>


<h3>Here are all the brands:</h3>

<% if @brands.any?() %>
  <p>Click on an actor to see information about them and mark which stores they are in:</p>

  <ul>
    <% @brands.each do |brand| %>
      <li><a href="/brands/<%= brand.id() %>"><%= brand.shoe_name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no brands added yet!</p>
<% end %>


<h3>Here are all the stores:</h3>

<% if @stores.any?() %>
  <p>Click on a store to see information:</p>

  <ul>
    <% @stores.each do |store| %>
      <li><a href="/stores/<%= store.id() %>"><%= store.store_name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no stores added yet!</p>
<% end %>
