
<h1> <%=@store.store_name()%><a href="/stores/<%= @store.id()%>">Click Here to add brand</a> </h1>





<form action="/stores/<%= @store.id() %>/edit" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="store_name">Rename your store:</label>
  <input id="store_name" name="store_name" type="text">

    <button type="submit">update</button>
</form>
<form action="/stores/<%= @store.id() %>/edit" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete store</button>
</form>
