<ul>
<% if @store.brands().each() do |brand| %>
<li><%=brand.shoe_name()%></li>
<%end%>
<%end%>
</ul>
<%else%>
<p>
  There are no brands yet
</p>
<%end%>

<form action="/brands" method="post">
  <input id="store_id"type="hidden" name="store_id" value="<%= @store.id() %>">
  <label for="shoe_name">Enter the shoe brand</label>
  <input id="shoe_name"type="text" name="shoe_name" value="">
  <button type="submit">Add Shoes</button>

</form>
